Importing Required Libraries

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import pickle

Read The Dataset

In [5]:
df=pd.read_csv('Dataset.csv',encoding='ISO-8859-1')

In [6]:
df.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,3/24/2016 11:52,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,3/24/2016 0:00,0,70435,4/7/2016 3:16
1,3/24/2016 10:58,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,3/24/2016 0:00,0,66954,4/7/2016 1:46
2,3/14/2016 12:52,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,3/14/2016 0:00,0,90480,4/5/2016 12:47
3,3/17/2016 16:54,GOLF_4_1_4__3TÃRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,3/17/2016 0:00,0,91074,3/17/2016 17:40
4,3/31/2016 17:25,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,3/31/2016 0:00,0,60437,4/6/2016 10:17

In [7]:
df.shape

(5016, 20)

Cleaning The Dataset

In [8]:
df.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'kilometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [9]:
# Droping the Unwanted Columns
df.drop(columns= ['seller', 'offerType', 'nrOfPictures'], inplace = True)

In [10]:
df.drop(columns= ['dateCrawled', 'dateCreated','name', 'lastSeen'], inplace = True)

Handle The Missing Values

In [11]:
#check missing values
df.isnull().sum()

price                    0
abtest                   0
vehicleType            555
yearOfRegistration       0
gearbox                274
powerPS                  0
model                  259
kilometer                0
monthOfRegistration      0
fuelType               484
brand                    0
notRepairedDamage      977
postalCode               0
dtype: int64

In [12]:
#replacing the missing values
df['vehicleType'].fillna(df['vehicleType'].mode()[0], inplace = True)
df['gearbox'].fillna(df['gearbox'].mode()[0], inplace = True)
df['model'].fillna(df['model'].mode()[0], inplace = True)
df['fuelType'].fillna(df['fuelType'].mode()[0], inplace = True)
df['notRepairedDamage'].fillna(df['notRepairedDamage'].mode()[0], inplace = True)

In [13]:
df.head()

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,postalCode
0,480,test,limousine,1993,manuell,0,golf,150000,0,benzin,volkswagen,nein,70435
1,18300,test,coupe,2011,manuell,190,golf,125000,5,diesel,audi,ja,66954
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,nein,90480
3,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,91074
4,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,60437

In [14]:
df.tail()

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,postalCode
5011,9500,test,cabrio,2004,manuell,170,3er,150000,6,benzin,bmw,nein,71691
5012,5700,test,kombi,2009,manuell,109,focus,150000,3,diesel,ford,nein,19230
5013,12900,test,kombi,2012,automatik,136,c_klasse,150000,1,diesel,mercedes_benz,nein,77948
5014,6500,control,kleinwagen,2011,manuell,0,c1,60000,10,benzin,citroen,nein,21745
5015,8900,control,limousine,2004,automatik,250,a3,150000,11,benzin,audi,nein,74336

In [15]:
df.isnull().sum()

price                  0
abtest                 0
vehicleType            0
yearOfRegistration     0
gearbox                0
powerPS                0
model                  0
kilometer              0
monthOfRegistration    0
fuelType               0
brand                  0
notRepairedDamage      0
postalCode             0
dtype: int64

Remove The Duplicates Values

In [16]:
# Checking for Duplicates
df.duplicated().sum()

5

In [17]:
# Removing Duplicates
df = df.drop_duplicates()

In [18]:
df.duplicated().sum()

0